.navbar {
    background-color: #4E4F56;
    height: 10vh;
    text-align: end;
    color: #EEEFA8;
}

.navbar li {
    text-decoration: none;
    list-style: none;
}

.nav-menu {
    display: flex;
    text-align: center;
    margin-bottom: 0vh;
    font-size: 3vh;
}

.navbar .nav-link {
    color: #EEEFA8;
    border-radius: 1vh;
    transition: 0.2;
}

.nav-link:hover {
    color: #EAEB98;
}

@media screen and (max-width: 767px) {
    .nav li a {
        font-size: 1vh;
    }
}
